.help-section {
    background-image: url(../assets/sxnp3hcv7tyzrq15uobmdwi98aefkg24.jpeg);
    height: 350px;
    width: 100%;
    background-size: 100% 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
}

.help-title {
    font-size: 40px;
    color: white;
}

.instant-help {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-top: 32px;
}

.booking {
    margin-right: 20px;
    background-color: white;
    padding: 40px;
    font-size: 24px;
    width: 300px;
    border-radius: 12px;
    cursor: pointer;
    /* box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.35); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.check-booking {
    
}

.change-booking {
    
}

.cancel-booking {
    
}

.searchFaqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search-bar {
    width: 400px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid gray;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
}

.search-btn {
    padding: 16.5px;
    /* margin: 10px 0px; */
    border: 1px solid gray;
    align-items: center;
    background-color: #3acbb5;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
}

.common-FAQs {
    margin: 60px 60px;
    width: 1040px;
}

.common-FAQs-content-title {
    margin-bottom: 30px;
}

.FAQ {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 12px;
}

.ques {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.32;
    color: #212121;
    align-items: center;
}