/* body {
    background-color: aquamarine;
} */

.account-container {
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 20px;
    border: 2px solid gray;
}

.login-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.account-container input {
    width: 100%;
    border: 1px solid #777;
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
}

.login-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    margin: 0px;
}

.login-btn-container button {
    padding: 10px 20px;
    background-color: #3acbb5;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.not-registered {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.register-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #3acbb5;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}