.App {
    margin-bottom: 20px;
    height: calc(100% + 50px);
}

.signup-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding-bottom: 20px;
}

.signup-content {
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid gray;
}

.signup-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.signup-container input {
    width: 400px;
    border: 1px solid #777;
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
}

.signup-btn-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */    
}


.register-btn {
    padding: 10px 20px;
    background-color: #3acbb5;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #3acbb5;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.terms-and-conditions-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.signup-container input.checkbox {
    width: 20px;
    margin: 0;
    margin-right: 15px;
}

.terms-and-conditions {
    color: #ababab;
    font-size: 14px;
    margin: 0;
}