.top-destination-container {
    padding: 0 40px 20px;
}

.top-destination-container > h2 {
    font-size: 32px;
  }
  
.destination-image-carousel {
    margin: 0 auto;
    position: relative;
}

.destination-image-carousel {
    cursor: pointer;
}

.image-carousel-item {
    padding: 5px 10px;    
}

.carousel-item-content {
    /* border: 1px solid rgb(222, 214, 214); */
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
    
.destination-image {
    width: 100%;
    height: 180px;
    position: relative;   
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.406);
}

.destination-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destination-image:hover {
    transform: scale(1.1);
}

.carousel-item-content .destination-city {
    font-size: 30px;
    padding-left: 10px;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    color: white; 
    margin: 0 !important;
}


/* start slick css */
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 10;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    background-color: unset;
    font-size: 16px;
    color: gray;
}

.slick-next {
    right: -30px;
}

.slick-prev {
    left: -30px;
}

.slick-arrow > i {
    background-color: unset;
}
/* end slick css */