.category-form {
    margin: 0 auto;
    width: 80%;
}

.groups-content {
    display: flex;
    /* justify-content: flex; */
    /* align-items: center; */
}

.groups {
    width: 50%;
    max-width: 50%;
}

.group-size {
    width: 50%;
}

.group-heading {
    font-weight: bold;
    margin-bottom: 20px;
}


.checkbox-content {
    display: flex;
    justify-content: flex;
    margin-bottom: 20px;
}

.checkbox-content > input {
    margin-right: 15px;
}

input.checkbox-selector {
    -webkit-appearance: none;
    position: relative;
}

input.checkbox-selector::before {
    position: absolute;
    /* left: -30px; */
    top: -5px;
    content: '\2713';
    color: white;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid gray;
}

input.checkbox-selector:checked input.checkbox-selector::before {
    /* border: none; */
    /* outline: 2px solid deeppink; */
    color: black;
}

.checkbox-content > div {
    margin-left: 20px;
}