.finish-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 143px)
}

.finish-btn {
    /* position: absolute; */
    padding: 9px 15px;
    width: 120px;
}