

.sidebar-result {
    width: calc(100% - 250px) !important;
}

.experience-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
}

.submit-experience > h2 {
    margin: 0;
}

.exit-btn {
    border: none;
    background-color: white;
    font-weight: bold;
    color: aquamarine;
    font-size: 18px;
}