* {
  font-family: "Ubuntu", "sans-serif";
}

.App {
  position: relative;
}


header {
  background-color: white;
  box-shadow: 0 2px 4px #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navigation-menu > li {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
}

ul.navigation-menu > li a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-size: 14px;
}

.logo-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.top-banner-section {
  background-image: url(./assets/sxnp3hcv7tyzrq15uobmdwi98aefkg24.jpeg);
  height: 500px;
  width: 100%;
  background-size: 100% 500px;
}
/* 
.top-banner-image-container {
  background-color: #1a2b49;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

/* .top-banner-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
} */

.top-banner-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 1400px;
  padding: 16px 188px;
  
}

.top-banner-content > h1 {
  font-size: 40px;
  color:white;
  margin-left: 15px;
  background-color: #3acbb8;
}

.top-banner-content .top-banner-search-bar {
  background: white;
  border: 2px solid #dcdfe4;
  border-radius: 40px;
  height: 40px;
  display: flex;
  padding: 10px 20px;
  width: 600px;
}

.top-banner-search-bar > input {
  background-color: transparent;
  border: none;
  padding: 0 8px;
  align-items: center;
  color: #63687a;
  font-size: 24px;
  width: 100%;
  outline: none;
}


.date-picker-input {
  /* background: white; */
  width: 600px;
  height: 40px;
  margin-top: 20px;
  /* border: 2px solid #dcdfe4; */
  border-radius: 40px;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-picker-input > input {
  background: white;
  width: 75%;
  height: 100%;
  padding: 0 16px;
  font-size: 16px;
  /* background-color: transparent; */
  align-items: center;
  border: none;
  border: 2px solid #dcdfe4;
  border-radius: 24px;
  outline: none;
}

.date-picker-input > button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.375rem;
  padding: 9px 24px;
  border: none;
  border-radius: 40px;
  width: 25%;
  background-color: #3acbb5;
  color: white;
  margin-left: 10px;
}

.hide {
  display: none;
}

.currency-selector option {
  /* font-size: 24px; */
  text-align: center;
  width: 185px;
}

.currency-selector-container {
  position: relative;
  z-index: 999;
}

.currency-selector-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 190px;
  background-color: white;
  box-shadow: 0 4px 8px #aaa;
  max-height: 450px;
  overflow: scroll;
}

.currency-dropdown-item {
  display: block;
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  width: 100%;
}

